<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="/socket.io-client/dist/socket.io.js"></script>

        <script src="/baffle/dist/baffle.min.js"></script>
        <script src="/typed.js/dist/my_typed.js"></script>
        <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/demo.css" rel="stylesheet">

        <title>Document</title>
    </head>

    <body style="word-wrap:break-word">

        <div class="server-state text-light ">disconnect</div>

        <div class="App"></div>

        <script src="/zoom.js"></script>
        <script src="/App.js"></script>
        

    </body>
</html>